<h1>These are your charts</h1>

<CreateNewChart @onCreateNewChart={{action "createNewChart"}} />

{{#each model as |chart|}}
  <Chart
    @id={{chart.id}}
    @title={{chart.title}}
    @progress={{chart.progress}}
    @onDeleteChart={{action "deleteChart"}}
    @onPercentUpdate={{action "updateChartPercent"}}
    @onTitleUpdate={{action "updateChartTitle"}}
  />
{{/each}}

{{outlet}}